li{list-style: none;}

.container {
    display: block;
    float: none;
  }

.title{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #0e1b2a;
	width: 100%;
	height: 91px;
	position: relative;
	margin:0 auto;
}

.navbar{
	background-color: #778da9;
	position: relative;
	/*margin:0 auto;*/
	box-shadow:5px 5px 10px 0px #415A78 inset;  
}

.black_overlay{ 
	display: none; 
	position: fixed; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.8; 
	opacity:.80; 
	filter: alpha(opacity=88); 
	overflow-y: hidden;
  } 

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  }


  @media screen{
	.white_content { 
		display: none; 
		position: fixed; 
		top: 15%; 
		left: 25%; 
		width: 50%; 
		height: 70%; 
		padding: 20px; 
		background-color: #E0E1DC; 
		z-index:1002; 
		overflow: auto; 
		
	} 
	.white_content h2{
		width: 80%;
		margin: 0 auto;
	}
	.white_content a{
		width: 50px;
		height: 50px;
		border-radius: 40px;
		background-color: #415A78;
		color: #fff;
		position: absolute;
		right: 10px;
		top: 10px;
		text-align: center;
		text-decoration:none;
		line-height: 50px;
	}
	.white_content a:hover{
		text-decoration:none;
		color: #fff;
	}
	#light_contact_us input[type="text"]:nth-child(2){
		width: 40%;
		margin-bottom: 10px;
	  }
	  .inputs{
		margin: 0 auto;
		margin-top: 20px;
	  }
	  input[type="text"]:nth-child(3){
		width: 55%;
		margin-bottom: 10px;
	  }
	  input[type="text"]:nth-child(4){
		width: 90%;
		margin-bottom: 10px;
	  }
	  
	  textarea{
		width: 90%;
		height: 300px;
	  }
	  #light_member_manage input[type="text"]:nth-child(2){
		width: 70%;
		margin-bottom: 10px;
	  }
	  #light_member_manage input[type="password"]{
		width: 70%;
		margin-bottom: 10px;
	  }
	  #member_manage{
		  width: 50%;
		  margin-top: 150px;
	
	  }
	  #member_manage button{
		  width: 100%;
		  height: 40px;
		  background-color: #415A78;
		  color: #fff;
		  border-radius: 10px;
	  }
	}
	@media screen and (max-width:900px){
		.white_content { 
			display: none; 
			position: fixed; 
			top: 10%; 
			left: 10%; 
			width: 80%; 
			height: 80%;  
			background-color: #E0E1DC; 
			z-index:1002; 
			overflow: auto; 
		} 
	
	}
	@media screen and (max-width:560px){
		.white_content { 
			display: none; 
			position: fixed; 
			top: 10%; 
			left: 0; 
			width: 100%; 
			height: 80%;  
			background-color: #E0E1DC; 
			z-index:1002; 
			overflow: auto; 
		} 
	
	}
@media screen and (min-width:631px){
.title #title{
	text-align: left;
	margin-left: 10px;
}
.title #language{
	text-align: right;
	margin-right: 10px;
}

#title_C a{
	text-decoration:none;
	color: #fff;
	font-size:24pt;
	margin-top: 10px;
}

#title_E{
	color: #778da9;
	font-size:12pt;
	float: left;
}

#language_C,#language_E{
	color: #fff;
	font-size:12pt;
	text-align: right;
	margin-top: 55px;
	float: right;
}
.sub_title{
    width: 100%;
    height: 150px;
    background-color: #415A78;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    line-height:180px;  
	box-shadow:0px 0px 50px 0px #0e1b2a inset; 
}

.context_title{
	text-align: center;
	font-size:40pt;
}
.new_context{
	width:620px ;
	height: 150px;
	margin: 0px auto;
}
#dates{
	width: 120px;
	height:50px;
	background-color: #415A78;
	color: #fff;
	font-size:12pt;
	float: left;
	text-align: center;
	line-height: 50px;
}

#context{
	width: 700px;
	height: 50px;
	background-color: #E0E1DC;
	color: #000000;
	font-size:12pt;
	text-align: left;	
	line-height: 50px;
	padding-left: 130px;
}
#publish{
	width: 100%;
	height: 400px;
	background-color: #0e1b2a;
}


#publish img{
	margin-left: 15%;
	margin-top: -20px;
	float: left;
	position: relative;
	border: 1px solid transparent;
	border-width: 10px 10px 10px 10px;
	border-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	border-image-slice: 1 ;
}
#publish #decorate{
	width:100% ;
	height: 30px;
	background-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	position: absolute;
}
#publish_intro{
	width:70% ;
	height: 30px;
	margin: 0px auto;
	padding-left: 20%;	
	margin-top: 10px;
}
#publish_intro button{
	height: 50px;
	width: 120px;
	float: right;
	margin-right: 28%;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
}
.contact_link{
	display: inline-block;
	padding: 15px 25px;
	font-size:inherit;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
}
}

@media screen and (max-width:630px){
	.title #title{
		text-align: left;
	}
	.title #language{
		text-align: right;
	}
	
	#title_C a{
		text-decoration:none;
		color: #fff;
		font-size:18pt;
		margin-top: 10px;
	}
	
	#title_E{
		color: #778da9;
		font-size:8pt;
		float: left;
	}
	
	#language_C,#language_E{
		color: #fff;
		font-size:8pt;
		text-align: right;
		margin-top: 50px;
		float: right;
	}
	.sub_title{
		width: 100%;
		height: 150px;
		background-color: #415A78;
		color:#fff;
		font-size: 40pt;
		text-align: center;
		line-height:180px;  
		box-shadow:0px 0px 50px 0px #0e1b2a inset;  
	}


	.context_title{
		text-align: center;
		font-size:24pt;
	}
	.new_context{
		width:450px ;
		height: 150px;
		margin: 0px auto;
	}
	#dates{
		width: 80px;
		height:50px;
		background-color: #415A78;
		color: #fff;
		font-size:10pt;
		float: left;
		text-align: center;
		line-height: 50px;
	}
	
	#context{
		width: 370px;
		height: 50px;
		background-color: #E0E1DC;
		color: #000000;
		font-size:10pt;
		text-align: left;
		padding-left: 90px;
		line-height: 25px;
	}

	#publish{
		width: 100%;
		height: 600px;
		background-color: #0e1b2a;
	}

	
	#publish img{
		width: 40%;
		margin-left: 30%;
		position: relative;
		border: 1px solid transparent;
		border-width: 10px 10px 10px 10px;
		border-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
		border-image-slice: 1 ;
	}
	#publish #decorate{
		width:100% ;
		margin-top: 20px;
		height: 15px;
		background-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
		position: absolute;
	}
	#publish_intro{
		width:100% ;
		height: 30px;
		text-align: center;
		margin-top: 10px;
	}
	#publish_intro li h3{
		font-size: 18pt;
	}
	#publish_intro li p{
		font-size: 10pt;
	}
	#publish_intro button{
		height: 50px;
		width: 120px;
		background-color: #81D6B5;
		border: none;
		border-radius: 15px;
	}
	.contact_link{
		display: inline-block;
		padding: 15px 25px;
		font-size: inherit;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #000;
		background-color: #81D6B5;
		border: none;
		border-radius: 15px;
	}
	#light_member_manage input[type="text"]:nth-child(2){
		width: 100%;
		margin-bottom: 10px;
	  }
	  #light_member_manage input[type="password"]{
		width: 100%;
		margin-bottom: 10px;
	  }
	}

/*輪播圖*/
.c-carousel img{
	display: block;
	width: 400px;
	height: 200px;
}

.c-carousel {
    width: 100%;
	position: relative;
	overflow: hidden;
  }

  .c-carousel__slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
	will-change: transform;	
  }


#news{
	width: 100%;
	height: 300px;
	clear: left;

} 


#publish .context_title,#publish div h3,#publish div p{
	color: #fff;
}
#publish .context_title{
	position: relative;
}





#publish_intro button a{
	color: #000;
}
#publish_intro button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  #publish_intro button span:after{
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
  }  

  #publish_intro button:hover span {
	padding-right: 25px;
  }
  
  #publish_intro button:hover span:after {
	opacity: 1;
	right: 0;
  }

#publish div h3{
	margin-top: 50px;
}

#contact{
	text-align: center;
	margin-top: 16px;
}





#bottom{
	width:100% ;
	height: 100px;
	background-color: #0e1b2a;
	margin-top: 20px;
	text-align: center;
	color: #fff;
}
#bottom #a_h{
	margin: 0px auto;
	display: inline-block;
}
#bottom #a_h li{
	margin-top: 20px;
   
}

#access,#home{
	float: left;
}

.GoToTop{
	bottom:10px;
	right: 5%;
	width: 80px;
	height: 80px;
	background-color: #81D6B5;
	border-radius: 40px;
	color: #0e1b2a;
	text-align: center;
	line-height: 80px;
	position: fixed;
	z-index: 20;
}
