li{list-style: none;}
.title{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #0e1b2a;
	width: 100%;
	height: 91px;
	position: relative;
	margin:0 auto;
}

.navbar{
	background-color: #778da9;
	position: relative;
	/*margin:0 auto;*/
	box-shadow:5px 5px 10px 0px #415A78 inset;  
}

/*.navbar-custom .nav-item .nav-link{
	color: #fff;
	font-size: 16pt;
	font-family: Microsoft JhengHei;
	margin:0 auto;
}*/
@media screen{
.title #title{
	text-align: left;
}
.title #language{
	text-align: right;
}

#title_C a{
	text-decoration:none;
	color: #fff;
	font-size:24pt;
	margin-top: 10px;
}

#title_E{
	color: #778da9;
	font-size:12pt;
	float: left;
}

#language_C,#language_E{
	color: #fff;
	font-size:12pt;
	text-align: right;
	margin-top: 55px;
	float: right;
}
.sub_title{
    width: 100%;
    height: 150px;
    background-color: #415A78;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    line-height:180px;  
	box-shadow:0px 0px 50px 0px #0e1b2a inset; 
}

.c-carousel img{
	display: block;
	width: 400px;
	height: 200px;
}

.context_title{
	text-align: center;
	font-size:40pt;
}
.new_context{
	width:620px ;
	height: 150px;
	margin: 0px auto;
}
#dates{
	width: 120px;
	height:50px;
	background-color: #415A78;
	color: #fff;
	font-size:12pt;
	float: left;
	text-align: center;
	line-height: 50px;
}

#context{
	width: 700px;
	height: 50px;
	background-color: #E0E1DC;
	color: #000000;
	font-size:12pt;
	text-align: left;	
	line-height: 50px;
}

#publish img{
	margin-left: 15%;
	margin-top: -20px;
	float: left;
	position: relative;
	border: 1px solid transparent;
	border-width: 10px 10px 10px 10px;
	border-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	border-image-slice: 1 ;
}
#publish #decorate{
	width:100% ;
	height: 30px;
	background-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	position: absolute;
}
#publish_intro{
	width:70% ;
	height: 30px;
	margin: 0px auto;
	padding-left: 20%;	
	margin-top: 10px;
}
#publish_intro button{
	height: 50px;
	width: 120px;
	float: right;
	margin-right: 28%;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
}
.contact_link{
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
}

@media screen and (max-width:620px){
	.title #title{
		text-align: left;
	}
	.title #language{
		text-align: right;
	}
	
	#title_C a{
		text-decoration:none;
		color: #fff;
		font-size:18pt;
		margin-top: 10px;
	}
	
	#title_E{
		color: #778da9;
		font-size:8pt;
		float: left;
	}
	
	#language_C,#language_E{
		color: #fff;
		font-size:8pt;
		text-align: right;
		margin-top: 50px;
		float: right;
	}
	.sub_title{
		width: 100%;
		height: 150px;
		background-color: #415A78;
		color:#fff;
		font-size: 40pt;
		text-align: center;
		line-height:180px;  
		box-shadow:0px 0px 50px 0px #0e1b2a inset;  
	}

	.c-carousel img{
		display: block;
		width: 200px;
		height: 100px;
	}

	.context_title{
		text-align: center;
		font-size:24pt;
	}
	.new_context{
		width:450px ;
		height: 150px;
		margin: 0px auto;
	}
	#dates{
		width: 80px;
		height:50px;
		background-color: #415A78;
		color: #fff;
		font-size:10pt;
		float: left;
		text-align: center;
		line-height: 50px;
	}
	
	#context{
		width: 370px;
		height: 50px;
		background-color: #E0E1DC;
		color: #000000;
		font-size:10pt;
		text-align: left;	
		line-height: 50px;
	}
	#publish img{
		width: 40%;
		margin-top: 3%;
		margin-left: 5%;
		float: left;
		position: relative;
		border: 1px solid transparent;
		border-width: 10px 10px 10px 10px;
		border-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
		border-image-slice: 1 ;
	}
	#publish #decorate{
		width:100% ;
		height: 15px;
		background-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
		position: absolute;
	}
	#publish_intro{
		width:70% ;
		height: 30px;
		margin: 0px auto;
		padding-left: 20%;	
		margin-top: 10px;
	}
	#publish_intro li h3{
		font-size: 18pt;
	}
	#publish_intro li p{
		font-size: 10pt;
	}
	#publish_intro button{
		height: 50px;
		width: 120px;
		float: right;
		margin-top: 10%;
		margin-right: 10%;
		background-color: #81D6B5;
		border: none;
		border-radius: 15px;
	}
	.contact_link{
		display: inline-block;
		padding: 15px 25px;
		font-size: 18px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #000;
		background-color: #81D6B5;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px #999;
	}
	}

/*輪播圖*/
.c-carousel {
    width: 100%;
	position: relative;
	overflow: hidden;
  }

  .c-carousel__slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
	will-change: transform;	
  }


#news{
	width: 100%;
	height: 300px;
	clear: left;

} 

#publish{
	width: 100%;
	height: 400px;
	background-color: #0e1b2a;
}

#publish .context_title,#publish div h3,#publish div p{
	color: #fff;
}
#publish .context_title{
	position: relative;
}





#publish_intro button a{
	color: #000;
}
#publish_intro button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  #publish_intro button span:after{
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
  }  

  #publish_intro button:hover span {
	padding-right: 25px;
  }
  
  #publish_intro button:hover span:after {
	opacity: 1;
	right: 0;
  }

#publish div h3{
	margin-top: 50px;
}

#contact{
	text-align: center;
	margin-top: 16px;
}



.contact_link a{
	color:#000;
}
.contact_link:hover{
	background-color:#69AF94;
}
.contact_link:active{
	background-color:#69AF94;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#bottom{
	width:100% ;
	height: 100px;
	background-color: #0e1b2a;
	margin-top: 20px;
	text-align: center;
	color: #fff;
}
#bottom #a_h{
	margin: 0px auto;
	display: inline-block;
}
#bottom #a_h li{
	margin-top: 20px;
   
}

#access,#home{
	float: left;
}

.GoToTop{
	bottom:10px;
	right: 5%;
	width: 80px;
	height: 80px;
	background-color: #81D6B5;
	border-radius: 40px;
	color: #0e1b2a;
	text-align: center;
	line-height: 80px;
	position: fixed;
	z-index: 20;
}