li{list-style: none;}
.title{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #0e1b2a;
	width: 100%;
	height: 91px;
	position: relative;
	margin:0 auto;
}

.navbar-custom {
	background-color: #778da9;
	position: relative;
	margin:0 auto;
	box-shadow:5px 5px 10px 0px #415A78 inset;  
}

.navbar-custom .nav-item .nav-link{
	color: #fff;
	font-size: 16pt;
	font-family: Microsoft JhengHei;
	margin:0 auto;
}

.title #title{
	text-align: left;
}
.title #language{
	text-align: right;
}

#title_C a{
	text-decoration:none;
	color: #fff;
	font-size:24pt;
	margin-top: 10px;
}

#title_E{
	color: #778da9;
	font-size:12pt;
	float: left;
}

#language_C,#language_E{
	color: #fff;
	font-size:12pt;
	text-align: right;
	margin-top: 55px;
	float: right;
}

.rubber img{
	width: 400px;
	height: 200px;
	overflow: hidden;
	float: left;
}



#date{
	width: 120px;
	height:50px;
	background-color: #415A78;
	color: #fff;
	font-size:12pt;
	float: left;
	text-align: center;
	line-height: 50px;
}

#context{
	width: 700px;
	height: 50px;
	background-color: #E0E1DC;
	color: #000000;
	font-size:12pt;
	text-align: left;	
	line-height: 50px;
}

.new_context{
	width:620px ;
	height: 150px;
	margin: 0px auto;
}

#news{
	width: 100%;
	height: 300px;
	clear: left;

} 
.context_title{
	text-align: center;
	font-size:40pt;
}
#publish{
	width: 100%;
	height: 400px;
	background-color: #0e1b2a;
}

#publish .context_title,#publish div h3,#publish div p{
	color: #fff;
}
#publish .context_title{
	position: relative;
}
#publish img{
	margin-left: 15%;
	margin-top: -20px;
	float: left;
	position: relative;
	border: 1px solid transparent;
	border-width: 10px 10px 10px 10px;
	border-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	border-image-slice: 1 ;
}

#publish #decorate{
	width:100% ;
	height: 30px;
	background-image: linear-gradient(to right,rgb(21,170,102)0%,rgb(255,255,255)100%);
	position: absolute;
}

#publish_intro{
	width:70% ;
	height: 30px;
	margin: 0px auto;
	padding-left: 20%;	
	margin-top: 10px;
}
#publish_intro button{
	height: 50px;
	width: 120px;
	float: right;
	margin-right: 28%;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
}

#publish_intro button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  #publish_intro button span:after{
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
  }  

  #publish_intro button:hover span {
	padding-right: 25px;
  }
  
  #publish_intro button:hover span:after {
	opacity: 1;
	right: 0;
  }

#publish div h3{
	margin-top: 50px;
}

#contact{
	text-align: center;
	margin-top: 16px;
}


.contact_link{
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000;
	background-color: #81D6B5;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.contact_link:hover{
	background-color:#69AF94;
}
.contact_link:active{
	background-color:#69AF94;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#bottom{
	width:100% ;
	height: 100px;
	background-color: #415A78;
	margin-top: 20px;
	text-align: center;
	color: #fff;
}
#bottom #a_h{
	margin: 0px auto;
	display: inline-block;
}
#bottom #a_h li{
	margin-top: 20px;
   
}

#access,#home{
	float: left;
}

