.introduce{
    width: 100%;
    height: 400px;
    background-color: #415A78;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    position: absolute;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    background-color: #fff;
}
table{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 70px;
}
th,td{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo{
    background-color:  #415A78;
    border-color: #415A78;
}

table tr th img{
    filter:drop-shadow(0px 0px 15px rgba(0,0,0,.5));  
}
.name{
    background-color: #E0E1DC;
}

.history{
    width: 100%;
    height: 100px;
    background-color: #1B263A;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    top: 50pt;
}
.history_contact{
    width:550px;
    height:300px;
    margin: 0 auto;
    margin-top: 50pt;
    margin-bottom: 50pt;
}
iframe{
    width:550px;
    height:300px;
    background-color: #E0E1DC;
    margin: 0 auto;
}

#structure img{
    width: 80%;
    margin-left: 10%;
}

.word{
    width: 100%;
    height: 100px;
    background-color: #1B263A;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    top: 500pt;
}

.button{
    width: 50%;
    margin: 0 auto;
}
.btn_screen{
    height: 50px;
	width: 120px;
	background-color: #81D6B5;
	border: none;
    border-radius: 15px;
}

.button .btn_screen{
    margin-left: 100px;
    margin-bottom: 50px;
}
#member{
    height: 500px;
}
#member ul li ul{ /*小標*/
    display: none;
    padding: 0; 
   

}
#member ul li{ /*大標*/
    float: left;
    z-index: 10;
/*    margin-left: 20px;
    margin-top: 50px;
    background-color: #415A78;/*底霸葛用，記得砍掉*/
    /*position: absolute;/*全部重疊辣!!!!!!*/
}

#member ul{
    width: 500px;
    margin: 0 auto;
    
}
#member ul li:hover>ul{
    width: 120px;
    display: block;
    color: black;
    padding: 0 auto;
    background-color:#1B263A ;/*底霸葛用，記得砍掉*/
  /*  position: absolute;*/
    z-index: 100;
}

#member ul li::after{
    content: " ";
    display: block;
    clear: both;
}

#popWindow{ /*此行指定放置廣告的div */
    width:666px; /*此行設定div的寬度*/
    height:488px; /*此行設定div的高度*/
    background:url(popWindow.png) no-repeat; /*此行設定div的背景圖形*/
    background-color: #fff;
    box-shadow:5px 5px 10px black; /*此行設定div的外框陰影*/
    border:2px gray solid; /*此行設定div的外框線條*/
    border-radius:20px; /*此行設定div的外框圓角*/
    position:fixed; /*此行設定div為不隨捲動而移動的模式*/
    }