@media screen{
.introduce{
    width: 100%;
    height: 400px;
    background-color: #415A78;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    position: absolute;
}
#details{
    width: 70%;
    height: 400px;
    margin: 0 auto;
}
#details img{
    width: 200px;
    top: 80px;
    right: 20px;
    position: relative;
    filter:drop-shadow(0px 0px 15px rgba(0,0,0,.5));  
    float: left;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    background-color: #fff;
}
table{
    margin: 0 auto;
    float: left;
    margin-top: 80px;
    margin-bottom: 70px;
}
th,td{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.history{
    width: 100%;
    height: 100px;
    background-color: #1B263A;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    line-height: 100px;
    clear: both;
}
.history_contact{
    width:550px;
    height:300px;
    margin: 0 auto;
    margin-top: 50pt;
    margin-bottom: 50pt;
}
iframe{
    width:550px;
    height:300px;
    background-color: #E0E1DC;
    margin: 0 auto;
}
.white_content { 
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 50%; 
    height: 60%; 
    padding: 20px; 
    background-color: #E0E1DC; 
    z-index:1002; 
    overflow: auto; 
} 
}
@media screen and (max-width:1030px){
    .introduce{
        width: 100%;
        height: 600px;
        background-color: #415A78;
        color:#fff;
        font-size: 40pt;
        text-align: center;
        position: absolute;
    }
    #details{
        width: 100%;
        height: 400px;
        text-align: center;
    }
    #details img{
        width: 200px;
        height: 200px;
        position:relative;
        left: 50%;
        margin-left: -100px;
        filter:drop-shadow(0px 0px 15px rgba(0,0,0,.5));  
        clear: both;
    }
    table,th,td{
        border: 1px solid black;
        font-size: 12pt;
        border-collapse: collapse;
        position: relative;
        background-color: #fff;
    }
    table{
        position:relative;
        left: 50%;
        margin-left: -250px;
        clear: both;
    }
    th,td{
        text-align: center;
        padding-right: 10px;
    }
    .history{
        width: 100%;
        height: 100px;
        background-color: #1B263A;
        color:#fff;
        font-size: 40pt;
        text-align: center;
        line-height: 100px;
        clear: both;
    }
    .history_contact{
        width:550px;
        height:300px;
        margin: 0 auto;
        margin-top: 50pt;
        margin-bottom: 50pt;
    }
    .white_content { 
        display: none; 
        position: fixed; 
        top: 20%; 
        left: 10%; 
        width: 80%; 
        height: 60%; 
        background-color: #E0E1DC; 
        z-index:1002; 
        overflow: auto; 
    } 
}
@media screen and (max-width:600px){
    .introduce{
        width: 100%;
        height: 600px;
        background-color: #415A78;
        color:#fff;
        font-size: 40pt;
        text-align: center;
        position: absolute;
    }
    #details{
        width: 100%;
        height: 400px;
        text-align: center;
    }
    #details img{
        width: 200px;
        height: 200px;
        position:relative;
        left: 50%;
        margin-left: -100px;
        filter:drop-shadow(0px 0px 15px rgba(0,0,0,.5));  
        clear: both;
    }
    table,th,td{
        font-size: 8pt;
    }
    table{
        margin: 0 auto;
        margin-top: 25%;
        margin-left: -40%;
    }
    .history{
        width: 100%;
        height: 100px;
        margin-top: 200px;
        background-color: #1B263A;
        color:#fff;
        font-size: 40pt;
        text-align: center;
        line-height: 100px;
        clear: both;
    }

    .history_contact{
        width:450px;
        height:300px;
        margin: 0 auto;
        margin-top: 100pt;
        margin-bottom: 50pt;
    }
    iframe{
        width:450px;
        height:300px;
        background-color: #E0E1DC;
        margin: 0 auto;
    }
    .white_content { 
        display: none; 
        position: fixed; 
        top: 20%; 
        left: 0; 
        width: 100%; 
        height: 65%; 
        background-color: #E0E1DC; 
        z-index:1002; 
        overflow: auto; 
    } 
}
.name{
    background-color: #E0E1DC;
}






#structure img{
    width: 80%;
    margin-left: 10%;
}

.word{
    width: 100%;
    height: 100px;
    background-color: #1B263A;
    color:#fff;
    font-size: 40pt;
    text-align: center;
    top: 500pt;
    line-height: 100px;
}
/*入會辦法&會址交通*/
.button{
    height: 150px;  
    width: 80%;   
    text-align: center;
}

.button .btn_screen{
    margin: 0 auto;
    height: 50px;
	width: 120px;
	background-color: #81D6B5;
	border: none;
    border-radius: 15px;  
    margin-left: 15%;
}
.button .btn_screen a{
    color: black;
    text-decoration:none;
}

/*會員名錄*/
.word{
    clear: both;
}
#member{
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
/*大標&小標一樣的地方*/
#member ul li .btn_members,#member ul li ul .btn_members_l{ 
    height: 80px;
	width: 130px;
    background-color: #81D6B5;
    color: #000;
	/*border: 1px solid black;*/ /*除錯用*/
    border-radius: 15px;


}
/*小標*/
#member ul li ul{ 
    display: none;
    padding: 0; 
}
#member ul li ul .btn_members_l{
   background-color: #E0E1DC;
    position: relative;
    z-index: 999;
}
/*大標*/
#member ul li{
    height: 100px;
	width: 150px;
    left: 20px;
    top: 50px;
    float: left;
}
#member ul{
    width: 80%;
    margin: 0 auto;  
}
.member ul #col-md-2{
    margin-left: 200px;
    top: 50px;
}
/*hover*/
#member ul li:hover>ul{
    width: 120px;
    display: block;
    color: black;
    padding: 0 auto;
    
}

#member ul li::after{
    content: " ";
    display: block;
    clear: both;
}
ul li .btn_members a,ul li ul .btn_members_l a{
    color: black;
}

/*入會辦法&會址交通*/
.black_overlay{ 
    display: none; 
    position: fixed; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
    overflow-y: hidden;
} 

.white_content h2{
    margin: 0 auto;
    width: 150px;
}
.white_content a{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: #415A78;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    text-decoration:none;
    line-height: 50px;
}
.white_content a:hover{
    text-decoration:none;
    color: #fff;
}
#light_access iframe,#light_how iframe{
    margin-top: 20px;
    width: 80%;
    height: 350px;
}