@media screen{
    .message{
    padding-top: 20px;
      width: 500px;
      height: 300px;
      margin: 0 auto;
    
    }
    .message .head{
      background-color: #415A78;
      height: 50px;
    }
    
    .message .contact #contact{
      background-color: #E0E1DC;
      height: 150px;
      width: 380px;
      margin-left: 120px;
      margin-top: 0;
    }
    .message .contact #image img{
      width: 120px;
      height: 150px;
    }
    .message .contact #image{
      width: 80px;
      float: left;
    }
    .answer{
      text-align: center;
      width: 500px;
      height: 150px;
    }
    
    }

    @media screen and (max-width:750px){
        .message{
          width: 300px;
          height: 300px;
          margin: 0 auto;
        
        }
        .message .head{
          background-color: #415A78;
          height: 50px;
        }
        
        .message .contact #contact{
          background-color: #E0E1DC;
          height: 150px;
          width: 300px;
          margin-left: 0;
          clear: both;
        }
        .message .contact #image img{
          width: 120px;
          height: 150px;
        }
        .message .contact #image{
          width: 300px;
          background-color: #778da9;
          text-align: center;
        }
        .answer{
          text-align: center;
          width: 300px;
          height: 150px;
        }
      }
      .head ul{
        color:#fff ;
      }
      .head ul #data{
        float: right;
        padding-right:15px;
      }
      .head ul #data a img{
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
      
      .head ul #tema{
        float: left;
      }
      .head,#contact,.answer{
        border: 1px solid black;
      }
      
#board{
    height: 800px;
}
.button{
    width: 120px;
    margin: 0 auto;
}
.btn_screen{
    height: 50px;
	width: 120px;
	background-color: #81D6B5;
	border: none;
    border-radius: 15px;
    margin-top: 10px;
}
.btn_screen a,.btn_screen a:hover{
  color: #000;
}

@media screen{
  
  input[type="text"]:first-child{
    width: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .inputs{
    margin: 0 auto;
  }
  input[type="text"]:nth-child(2){
    width: 50%;
    margin-bottom: 10px;
  }
  input[type="text"]:nth-child(3){
    width: 90%;
    margin-bottom: 10px;
  }
  
  textarea{
    width: 90%;
    height: 300px;
  }
  }
  @media screen and (max-width:900px){
      .white_content { 
          display: none; 
          position: fixed; 
          top: 10%; 
          left: 10%; 
          width: 80%; 
          height: 80%;  
          background-color: #E0E1DC; 
          z-index:1002; 
          overflow: auto; 
      } 
      input[type="text"]:first-child{
        width: 40%;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .inputs{
        margin: 0 auto;
      }
      input[type="text"]:nth-child(2){
        width: 50%;
        margin-bottom: 10px;
      }
      input[type="text"]:nth-child(3){
        width: 90%;
        margin-bottom: 10px;
      }
      
      textarea{
        width: 90%;
        height: 300px;
      }
  }
  @media screen and (max-width:600px){
      .white_content { 
          display: none; 
          position: fixed; 
          top: 10%; 
          left: 0; 
          width: 100%; 
          height: 80%;  
          background-color: #E0E1DC; 
          z-index:1002; 
          overflow: auto; 
      } 
      input[type="text"]:first-child{
        width: 40%;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .inputs{
        margin: 0 auto;
      }
      input[type="text"]:nth-child(2){
        width: 50%;
        margin-bottom: 10px;
      }
      input[type="text"]:nth-child(3){
        width: 90%;
        margin-bottom: 10px;
      }
      
      textarea{
        width: 90%;
        height: 300px;
      }
  }


