#how2buy{
    text-align: center;
}

#publish_btn{
    text-align: center;
    margin-bottom: 20px;
}

#publish_btn button{
    height: 50px;
	width: 120px;
	background-color: #81D6B5;
	border: none;
    border-radius: 15px;
    margin-left: 50px;
}

.books{
    width: 80%;
    margin-left: 15%;
    margin-top: 50pt;
}

.explain{
    font-size: 20pt;
}


.book_title{
    font-size: 22pt;
}
.publish_date,.publish_cost{
    font-size: 18pt;
}
/*.publish_cost{
    clear: both;
}*/
.book_img{
    width: 190px;
    margin-right: 30px;
    box-shadow:5px 5px 15px #000; 
    float: left;
    clear: both;
}
.book_contact{
    width: 600px;
    margin-top: 40px;
    margin-left: 10px;

}
.explain_more{
    font-size: 14pt;
    clear: both;
}

#journal_contact{
    width: 50%;
    height: 350px;
    margin: 0 auto;
    background-color: #81D6B5;
}