.category{
    text-align: center;
    font-size: 40pt;
}

table{
    margin: 0 auto;

}
.company_pic{
    width: 200px;
    height: 200px;

}

.company_pic img{
    width: 100px;
}
.company_pic button{
    background-color: #778da9;
    border: 5px solid #0e1b2a;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 3px #000000;
    width: 150px;
    height: 150px;

}
.company_name{
    text-align: center;
    font-size: 14pt;
}

.company_pic a{
    font-size: 16pt;
    color: #ffffff;
    line-height: 10pt;
}