.category{
    text-align: center;
    font-size: 40pt;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}


.card img{
    width: 100px;
    height: 100px;
    display:block; margin:auto;
  }

.card{
    background-color: #778da9;
    border: 5px solid #0e1b2a;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 3px #000000;   
    display: inline-block;
    vertical-align: top;

}


.company_pic a{
    font-size: 16pt;
    color: #ffffff;
    line-height: 10pt;
}